body {
  background-color: black;
}

h1 {
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center;
}

h2 {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 20px;
  text-align: center;
}

.dividers {
  font-size: 20px;
}

p {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 12px;
}

.aboutMe {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 200%;
}

.logo {
  display: block;
  margin-top: -5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

strong {
  color: red;
}

a {
  font-family: "Press Start 2P", cursive;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 200%;
}

a:hover {
  color: blue;
}

.navBar {
  font-family: "Press Start 2P", cursive;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.aboutTable {
  display: block;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Press Start 2P", cursive;
  color: white;
}

#logo {
  font-size: 50px;
}

h3 {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: center;
}

ul {
  margin-left: 10%;
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 11px;
  width: 40%;
  list-style: none;
}

table,
th,
td {
  font-family: "Press Start 2P", cursive;
  color: white;

}